/*brand colors*/
:root{
    --purple: #CFB9FF; 
    --neon: #DCFF79; 
}

body {
    margin:0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    background-color: black;
    color:white;
}

a {
    color: var(--purple);
}

a:hover{
    color: var(--neon);
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
} 

h1{
    font-size:50px;
}

a h2{
    color: var(--neon);
    background-color: black;
    padding:30px;
}

/*style each div section*/
#sec1 {
    color: var(--neon);
    background-color: var(--purple);
    height: 75vh;

}

#sec2 {
    color: var(--neon);
    background: url('images/keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;

}

.row div{
    padding: 40px;
}

#bio-box{
    background-color: var(--neon);
    color:black;
    transform: translate(0, 50px);
}

button{
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    padding:20px;
}

.row{
    height: 75vh;
}

#portfolio{
    background-color: white;
    color:black;
}

#footer{
    background-color: var(--purple);
    color:black;
    height:auto;
}




